﻿@page
@model IdolShow.Pages.IdolCategoryAdmin.CreateModel

@{
    ViewData["Title"] = "เพิ่มกลุ่มไอดอล";
}

<h2>เพิ่มกลุ่มไอดอล</h2>

<h4>กรอกข้อมูลต่อไปนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                ชื่อกลุ่มไอดอล
                <input asp-for="IdolCategory.ShortName" class="form-control" />
                <span asp-validation-for="IdolCategory.ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                บริษัทที่สังกัด
                <input asp-for="IdolCategory.FullName" class="form-control" />
                <span asp-validation-for="IdolCategory.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="เพิ่ม" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">ย้อนกลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
