﻿@page
@model IdolShow.Pages.IdolCategoryAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบข้อมูลกลุ่มไอดอล";
}

<h2>ลบข้อมูลกลุ่มไอดอล</h2>

<h3>คุณแน่ใจที่จะลบข้อมูลกลุ่มไอดอลนี้ ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            กลุ่มไอดอล
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdolCategory.ShortName)
        </dd>
        <dt>
            บริษัทที่สังกัด
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdolCategory.FullName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="IdolCategory.IdolCategoryID" />
        <input type="submit" value="ลบ" class="btn btn-default" /> |
        <a asp-page="./Index">ย้อนกลับ</a>
    </form>
</div>
