﻿@page
@model IdolShow.Pages.IdolCategoryAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียดกลุ่มไอดอล";
}

<h2>รายละเอียดกลุ่มไอดอล</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ชื่อกลุ่มไอดอล
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdolCategory.ShortName)
        </dd>
        <dt>
            บริษัทที่สังกัด
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdolCategory.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.IdolCategory.IdolCategoryID">แก้ไข</a> |
    <a asp-page="./Index">ย้อนกลับ</a>
</div>
