﻿@page
@model IdolShow.Pages.IdolCategoryAdmin.EditModel

@{
    ViewData["Title"] = "แก้ไขข้อมูลกลุ่มไอดอล";
}

<h2>กลุ่มไอดอล</h2>

<h4>แก้ไขข้อมูล</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdolCategory.IdolCategoryID" />
            <div class="form-group">
                ชื่อกลุ่มไอดอล
                <input asp-for="IdolCategory.ShortName" class="form-control" />
                <span asp-validation-for="IdolCategory.ShortName" class="text-danger"></span>
            </div>
            <div class="form-group">
                บริษัทที่สังกัด
                <input asp-for="IdolCategory.FullName" class="form-control" />
                <span asp-validation-for="IdolCategory.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">ย้อนกลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
