﻿@page
@model IdolShow.Pages.IdolCategoryAdmin.IndexModel

@{
    ViewData["Title"] = "รายชื่อกลุ่มไอดอล";
}

<h2>รายชื่อกลุ่มไอดอล</h2>

<p>
    <a asp-page="Create">เพิ่มกลุ่มไอดอล</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ชื่อกลุ่มไอดอล
            </th>
            <th>
                บริษัทที่สังกัด
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IdolCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdolCategoryID">แก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.IdolCategoryID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdolCategoryID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
