﻿@page
@using Microsoft.AspNetCore.Identity
@using IdolShow.Models

@model IdolShow.Pages.IdolAdmin.CreateModel
@inject SignInManager<NewsUser> SignInManager
@inject UserManager<NewsUser> UserManager

@{
    ViewData["Title"] = "เพิ่มการแสดงของไอดอล";
}

<h2>เพิ่มการแสดงของไอดอล</h2>

<h4>กรอกข้อมูลต่อไปนี้</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                กลุ่มไอดอล
                <select asp-for="Idol.IdolCategoryID" class ="form-control" asp-items="ViewBag.IdolCategoryID"></select>
            </div>
            <div class="form-group">
                วันที่แสดง
                <input asp-for="Idol.ReportDate" class="form-control" />
                <span asp-validation-for="Idol.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อการแสดง
                <input asp-for="Idol.Detail" class="form-control" />
                <span asp-validation-for="Idol.Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
               ค่าเข้าชม
                <input asp-for="Idol.pay" class="form-control" />
                <span asp-validation-for="Idol.pay" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="เพิ่ม" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">ย้อนกลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
