﻿@page
@model IdolShow.Pages.IdolAdmin.DeleteModel

@{
    ViewData["Title"] = "ลบรายการการแสดง";
}

<h2>ลบรายการการแสดง</h2>

<h3>คุณแน่ใจที่จะลบรายการการแสดงนี้หรือไม่ ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            กลุ่มไอดอล
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idol.IdolCat.ShortName)
        </dd>
        <dt>
            วันที่แสดง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idol.ReportDate)
        </dd>
        <dt>
            ชื่อการแสดง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idol.Detail)
        </dd>
        <dt>
            ค่าเข้าชม
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idol.pay)
        </dd>
       
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Idol.IdolID" />
        <input type="submit" value="ลบ" class="btn btn-default" /> |
        <a asp-page="./Index">ย้อนกลับ</a>
    </form>
</div>
