@page
@model IdolShow.Pages.IdolAdmin.DetailsModel

@{
    ViewData["Title"] = "รายละเอียดการแสดง";
}

<h2>รายละเอียดการแสดง</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            กลุ่มไอดอล 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idol.IdolCat.ShortName)
        </dd>
        <dt>
            วันที่แสดง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idol.ReportDate)
        </dd>
        <dt>
            การแสดง
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idol.Detail)
        </dd>
        <dt>
           ค่าเข้าชม
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Idol.pay)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Idol.IdolID">แก้ไข</a> |
    <a asp-page="./Index">ย้อนกลับ</a>
</div>
