﻿@page
@model IdolShow.Pages.IdolAdmin.EditModel

@{
    ViewData["Title"] = "แก้ไขการแสดงของไอดอล";
}

<h2>แก้ไขการแสดงของไอดอล</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idol.IdolID" />
            <div class="form-group">
                กลุ่มไอดอล
                <select asp-for="Idol.IdolCategoryID" class="form-control" asp-items="ViewBag.IdolCategoryID"></select>
                <span asp-validation-for="Idol.IdolCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                วันที่แสดง
                <input asp-for="Idol.ReportDate" class="form-control" />
                <span asp-validation-for="Idol.ReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                ชื่อการแสดง
                <input asp-for="Idol.Detail" class="form-control" />
                <span asp-validation-for="Idol.Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                ค่าเข้าชม
                <input asp-for="Idol.pay" class="form-control" />
                <span asp-validation-for="Idol.pay" class="text-danger"></span>
            </div>
	     
            <div class="form-group">
                <input type="submit" value="บันทึก" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">ย้อนกลับ</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
