﻿@page
@model IdolShow.Pages.IdolAdmin.IndexModel

@{
    ViewData["Title"] = "ข้อมูลรายการการแสดง";
}

<h2>ข้อมูลรายการการแสดง</h2>

<p>
    <a asp-page="Create">เพิ่มรายการการสดง</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                กลุ่มไอดอล
            </th>
            <th>
                วันที่แสดง
            </th>
            <th>
                ชื่อการแสดง
            </th>
            <th>
                ค่าเข้าชม
            </th>
      
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Idol) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdolCat.ShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pay)
            </td>
 
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IdolID">แก้ไข</a> |
                <a asp-page="./Details" asp-route-id="@item.IdolID">รายละเอียด</a> |
                <a asp-page="./Delete" asp-route-id="@item.IdolID">ลบ</a>
            </td>
        </tr>
}
    </tbody>
</table>
