﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Idol Show";
}
<body background-color: #EEDD82;>
<div class="jumbotron" background-color: lightblue>
	<center><h2>ตารางการแสดงโชว์ของกลุ่มไอดอล</h2><center>
</div>
@foreach (var item in Model.IdolCategory){
	<div class="row">
	<h3>กลุ่มไอดอล : @Html.DisplayFor(model=>item.ShortName)</h3>
	<h4>บริษัทที่สังกัด : @Html.DisplayFor(model=>item.FullName)</h4>
	</div>
	<div class="row">
	<table class="table">
	<thead>
	<tr>
	<th>วันที่</th><th>ชื่อการแสดง</th><th>ค่าเข้าชม</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var newsItem in Model.Idol) {
		if(newsItem.IdolCategoryID == item.IdolCategoryID){
		<tr>
		<td>
		@Html.DisplayFor(modelItem =>newsItem.ReportDate)
		</td>
		<td>
		@Html.DisplayFor(modelItem =>newsItem.Detail)
		</td>
		<td>
		@Html.DisplayFor(modelItem =>newsItem.pay)
		</td>
		</tr>
		}
	}
</tbody>
</table>
</div>
}
<br><center>
<img src="pic1.jpg" width="350" height="200" border="15">
<img src="pic2.jpg" width="350" height="200" border="15">
<img src="pic3.jpg" width="350" height="200" border="15">
</center>
</body>